@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  min-width: 100%;
}

body {
  line-height: 1;
  font-size: 0.875rem;
  font-family: 'Roboto Flex';
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
input,
button,
textarea {
  font-family: 'Segoe UI';
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  --primary: #16ab65;
  --text: #333333;
  --text-second: #474747;
  --hover: #e7e4ff;
  --border: #c1c1c1;
  --white: #ffffff;
  --background: #fcfcfc;
  --background-second: #e7e7e7;
  --input: #f4f4f4;
  --error: #a83232;
  --text: #333333;
  --text-second: #474747;
  --hover: #e7e4ff;
  --border: #c1c1c1;
  --white: #ffffff;
  --background: #fcfcfc;
  --background-second: #e7e7e7;
  --input: #f4f4f4;
  --error: #a83232;
  --primary-second: #474747;
  --white-secondary: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
  --background: #f0f3e8;
  --background-second: #f7f7f7;
  --button-bg: #eff7eb;
  --border: #c1c1c1;
  --primary-dark: #343632;
  --primary-100: #f9fdf7;
  --primary-200: #e2f3d8;
  --primary-300: #caeab9;
  --primary-400: #b3e09a;
  --primary-500: #9cd77b;
  --primary-600: #84ce5c;
  --primary-700: #6cc53d;
  --error: #a83232;
  --error-100: #fdf7f7;
  --error-200: #f3d8d8;
  --error-300: #eab9b9;
  --error-400: #e09a9a;
  --error-500: #d77b7b;
  --error-600: #ce5c5c;
  --error-700: #c53d3d;
  --connected: #3268a8;
  --connected-100: #f7fafd;
  --connected-200: #d8e5f3;
  --connected-300: #b9d0ea;
  --connected-400: #9abbe0;
  --connected-500: #7ba6d7;
  --connected-600: #5c91ce;
  --connected-700: #3d7cc5;
  --secondary: #474747;
  --secondary-100: #fbfbfb;
  --secondary-200: #e7e7e7;
  --secondary-300: #d3d3d3;
  --secondary-400: #bfbfbf;
  --secondary-500: #ababab;
  --secondary-600: #979797;
  --secondary-700: #838383;
  --secondary-800: #6f6f6f;
  --secondary-900: #5b5b5b;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

body ::-moz-selection {
  color: #fff;
  background-color: var(--tag);
}

body ::selection {
  color: var(--primary);
  background-color: var(--tag);
}

[class*='__container'] {
  max-width: 1440px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
[v-cloak] {
  display: none;
}
.toast-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 99;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.toast-container .toast {
  background-color: var(--primary);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 25px;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.col-1 {
  grid-column-start: span 1;
}
.row-1 {
  grid-row-start: span 1;
}
.col-2 {
  grid-column-start: span 2;
}
.row-2 {
  grid-row-start: span 2;
}
.col-3 {
  grid-column-start: span 3;
}
.row-3 {
  grid-row-start: span 3;
}
.col-4 {
  grid-column-start: span 4;
}
.row-4 {
  grid-row-start: span 4;
}
.col-5 {
  grid-column-start: span 5;
}
.row-5 {
  grid-row-start: span 5;
}
.col-6 {
  grid-column-start: span 6;
}
.row-6 {
  grid-row-start: span 6;
}
.col-7 {
  grid-column-start: span 7;
}
.row-7 {
  grid-row-start: span 7;
}
.col-8 {
  grid-column-start: span 8;
}
.row-8 {
  grid-row-start: span 8;
}
.col-9 {
  grid-column-start: span 9;
}
.row-9 {
  grid-row-start: span 9;
}
.col-10 {
  grid-column-start: span 10;
}
.row-10 {
  grid-row-start: span 10;
}
.col-11 {
  grid-column-start: span 11;
}
.row-11 {
  grid-row-start: span 11;
}
.col-12 {
  grid-column-start: span 12;
}
.row-12 {
  grid-row-start: span 12;
}

::-webkit-scrollbar-track {
  background: transparent;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  height: 2px;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #c1c1c1c1;
  height: 4px;
}
::-webkit-scrollbar-corner {
  visibility: hidden;
  opacity: 0px;
}
.ProseMirror {
  height: 150px !important;
}
