/* @font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light.woff') format('woff'),
    url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-SemiBold.eot');
  src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
    url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-SemiBold.woff') format('woff'),
    url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: block;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  min-width: 100%;
}

body {
  line-height: 1;
  font-size: 0.875rem;
  font-family: 'Roboto Flex';
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
input,
button,
textarea {
  font-family: 'Segoe UI';
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  --primary: #16ab65;
  --text: #333333;
  --text-second: #474747;
  --hover: #e7e4ff;
  --border: #c1c1c1;
  --white: #ffffff;
  --background: #fcfcfc;
  --background-second: #e7e7e7;
  --input: #f4f4f4;
  --error: #a83232;
}

body._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

body ::-moz-selection {
  color: #fff;
  background-color: var(--tag);
}

body ::selection {
  color: var(--primary);
  background-color: var(--tag);
}

[class*='__container'] {
  max-width: 1440px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.col-1 {
  grid-column-start: span 1;
}
.row-1 {
  grid-row-start: span 1;
}
.col-2 {
  grid-column-start: span 2;
}
.row-2 {
  grid-row-start: span 2;
}
.col-3 {
  grid-column-start: span 3;
}
.row-3 {
  grid-row-start: span 3;
}
.col-4 {
  grid-column-start: span 4;
}
.row-4 {
  grid-row-start: span 4;
}
.col-5 {
  grid-column-start: span 5;
}
.row-5 {
  grid-row-start: span 5;
}
.col-6 {
  grid-column-start: span 6;
}
.row-6 {
  grid-row-start: span 6;
}
.col-7 {
  grid-column-start: span 7;
}
.row-7 {
  grid-row-start: span 7;
}
.col-8 {
  grid-column-start: span 8;
}
.row-8 {
  grid-row-start: span 8;
}
.col-9 {
  grid-column-start: span 9;
}
.row-9 {
  grid-row-start: span 9;
}
.col-10 {
  grid-column-start: span 10;
}
.row-10 {
  grid-row-start: span 10;
}
.col-11 {
  grid-column-start: span 11;
}
.row-11 {
  grid-row-start: span 11;
}
.col-12 {
  grid-column-start: span 12;
}
.row-12 {
  grid-row-start: span 12;
}
::-webkit-scrollbar-track {
  background: transparent;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #c1c1c1c1;
  height: 4px;
}
::-webkit-scrollbar-corner {
  visibility: hidden;
  opacity: 0px;
}

.ProseMirror {
  height: 150px !important;
}
